<li><a class="otherLinkColour">Code Gallery</a>
    <ul>
        <li><a href="{{ site.code-gallery }}mobile-web-capture/index.html" class="otherLinkColour">Full Document Management</a>
            <ul>
                <li><a href="{{ site.code-gallery }}mobile-web-capture/customization-guide.html" class="otherLinkColour">Customization Guide</a></li>
                <li><a href="{{ site.code-gallery }}mobile-web-capture/api.html" class="otherLinkColour">API Reference</a></li>
            </ul>
        </li>
        <li><a href="{{ site.code-gallery }}frameworks.html" class="otherLinkColour">Frameworks</a></li>
    </ul>
</li>
