<li><a class="otherLinkColour">Code Gallery</a>
    <ul>
        <li><a href="{{ site.codegallery }}usecases/index.html" class="otherLinkColour">Use Cases</a>
            <ul>
                <li><a href="{{ site.codegallery }}usecases/capture-single-page-and-then-crop.html" class="otherLinkColour">Capture Single Page and Then Crop</a></li>
                <li><a href="{{ site.codegallery }}usecases/complete-doc-capturing-workflow.html" class="otherLinkColour">Complete Document Capturing Workflow</a></li>
                <li><a href="{{ site.codegallery }}usecases/detect-boundaries-on-existing-image.html" class="otherLinkColour">Detect Boundaries on the Existing Image</a></li>
            </ul>
        </li>
        {% comment %} <li><a href="{{ site.codegallery }}demo/index.html" class="otherLinkColour">Demo</a></li> {% endcomment %}
    </ul>
</li>