<li><a class="otherLinkColour">Code Gallery</a>
    <ul>
        <li><a href="{{ site.codegallery }}usecases/index.html" class="otherLinkColour">Use Cases</a>
            <ul>
                <li><a href="{{ site.codegallery }}usecases/sample1.html" class="otherLinkColour">Sample 1</a></li>
                <li><a href="{{ site.codegallery }}usecases/sample2.html" class="otherLinkColour">Sample 2</a></li>
                <li><a href="{{ site.codegallery }}usecases/sample3.html" class="otherLinkColour">Sample 3</a></li>
                <li><a href="{{ site.codegallery }}usecases/sample4.html" class="otherLinkColour">Sample 4</a></li>
            </ul>
        </li>
        <li><a href="{{ site.codegallery }}demo/index.html" class="otherLinkColour">Demo</a></li>
    </ul>
</li>