<li><a class="otherLinkColour">Code Gallery</a>
    <ul>
        <li><a href="{{ site.codegallery }}usecases/index.html" class="otherLinkColour">Use Cases</a>
            <ul>
                <li><a href="{{ site.codegallery }}usecases/capture-single-page-and-then-crop.html" class="otherLinkColour">Capture Single Page and Then Crop</a></li>
                <li><a href="{{ site.codegallery }}usecases/complete-doc-capturing-workflow.html" class="otherLinkColour">Complete document capturing workflow</a></li>
                <li><a href="{{ site.codegallery }}usecases/detect-boundaries-on-existing-images.html" class="otherLinkColour">Detect boundaries on the existing images</a></li>
                <li><a href="{{ site.codegallery }}usecases/simultaneously-capture-barcodes-and-documents.html" class="otherLinkColour">Simultaneously Capture Barcodes and Documents</a></li>
            </ul>
        </li>
        {% comment %} <li><a href="{{ site.codegallery }}demo/index.html" class="otherLinkColour">Demo</a></li> {% endcomment %}
    </ul>
</li>