<li><a href="{{ site.ui }}index.html" class="otherLinkColour">User Interface</a>
    <ul>
        <li><a href="{{ site.ui }}uiconfig.html" class="otherLinkColour">UiConfig</a></li>
        <li><a href="{{ site.ui }}default_elements.html" class="otherLinkColour">Default elements</a></li>   
        <li><a href="{{ site.ui }}default_ui.html" class="otherLinkColour">Default user interface</a></li>
        <li><a href="{{ site.ui }}customize/index.html" class="otherLinkColour">How to customize UI</a>
            <ul>
                <li><a href="{{ site.ui}}customize/layout.html" class="otherLinkColour">Layout</a></li>
                <li><a href="{{ site.ui }}customize/elements.html" class="otherLinkColour">Elements</a></li>
                <li><a href="{{ site.ui }}customize/dynamically.html" class="otherLinkColour">Update UI dynamically</a></li>
            </ul>
        </li>       
    </ul>
</li>