<li><a href="{{ site.features }}index.html" class="otherLinkColour">Features</a>
    <ul>
        <li><a href="{{ site.features }}datamanagement/index.html" class="otherLinkColour">Data management</a>
            <ul>
                {% comment %}<li><a href="{{ site.features}}datamanagement/page&doc.html" class="otherLinkColour">Page & Document</a></li> {% endcomment %}
                <li><a href="{{ site.features }}datamanagement/docmanagement.html" class="otherLinkColour">Document management</a></li>
                <li><a href="{{ site.features }}datamanagement/pagemanagement.html" class="otherLinkColour">Page management</a></li>
            </ul>
        </li>
        <li><a href="{{ site.features }}viewers/index.html" class="otherLinkColour">Viewers</a>
            <ul>
                <li><a href="{{ site.features}}viewers/editviewer.html" class="otherLinkColour">Edit viewer</a></li>
                <li><a href="{{ site.features }}viewers/captureviewer.html" class="otherLinkColour">Perspective viewer</a></li>
                <li><a href="{{ site.features }}viewers/perspectiveviewer.html" class="otherLinkColour">Capture viewer</a></li>
                <li><a href="{{ site.features }}viewers/others.html" class="otherLinkColour">Other types of viewers</a></li>
                <li><a href="{{ site.features }}viewers/datasync.html" class="otherLinkColour">Data synchronization</a></li>
            </ul>
        </li>
        <li><a class="otherLinkColour">Advanced</a>
            <ul>   
                <li><a href="{{ site.features }}advanced/imagefilter.html" class="otherLinkColour">Image Filter</a></li>
                <li><a href="{{ site.features }}advanced/documentdetect.html" class="otherLinkColour">Document Detection</a></li>
            </ul>
        </li>         
    </ul>
</li>