<li class="category">development</li>
<li><a href="{{ site.javascript }}" class="otherLinkColour">Web (Client Side)</a>
    <ul>
        <li><a style="cursor:pointer;color:#3c3c3c" href="{{ site.javascript }}user-guide.html" class="otherLinkColour">User Guide</a>
        </li>
        <li><a style="cursor:pointer;color:#3c3c3c" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.api }}Dynamsoft_DWT.html" class="otherLinkColour">Dynamsoft_DWT</a></li>
                <li><a href="{{ site.api }}RemoteScanObject.html" class="otherLinkColour">RemoteScanObject</a></li>   
                <li><a href="{{ site.api }}Viewer.html" class="otherLinkColour">Viewer</a></li>
                <li><a href="{{ site.api }}Dynamsoft_Enum.html" class="otherLinkColour">Dynamsoft_Enum</a></li>
                <li><a href="{{ site.api }}Interfaces.html" class="otherLinkColour">Interfaces</a></li>     
                <li><a href="{{ site.api }}ErrorList.html" class="otherLinkColour">Error List</a></li> 
            </ul>
        </li>
    </ul>

</li>
