<li><a href="{{ site.guide }}index-v3.1.0-mwc.html" class="otherLinkColour">Developer Guides</a>
    <ul>
        <li><a href="{{ site.guide }}document-scanner-v3.1.0-mwc.html" class="otherLinkColour">Scan Single-Page Documents</a></li>
        <li><a href="{{ site.guide }}mobile-web-capture-v3.1.0-mwc.html" class="otherLinkColour">Scan Multi-Page Documents</a></li>
        <li><a href="{{ site.guide }}mobile-web-capture-customization-v3.1.0-mwc.html" class="otherLinkColour">Customize UI And Workflow</a></li>
    </ul>
</li>
