<li><a href="{{ site.api }}index.html" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a class="otherLinkColour">Namespaces</a>
            <ul>
                <li><a href="{{ site.api }}namespace/ddv.html" class="otherLinkColour">Dynamsoft.DDV</a>
                <li><a href="{{ site.api }}namespace/ddv_elements.html" class="otherLinkColour">Dynamsoft.DDV.Elements</a></li>

                </li>       
            </ul>
        </li>
        <li><a href="{{ site.api }}class/index.html" class="otherLinkColour">Classes</a>
            <ul>
                <li><a href="{{ site.api }}class/documentmanager.html" class="otherLinkColour">DocumentManager</a></li>   
                <li><a href="{{ site.api }}class/editviewer.html" class="otherLinkColour">EditViewer</a></li>
                <li><a href="{{ site.api }}class/captureviewer.html" class="otherLinkColour">CaptureViewer</a></li>
                <li><a href="{{ site.api }}class/perspectiveviewer.html" class="otherLinkColour">PerspectiveViewer</a></li>
                <li><a href="{{ site.api }}class/browseviewer.html" class="otherLinkColour">BrowseViewer</a></li>
                <li><a href="{{ site.api }}class/customviewer.html" class="otherLinkColour">CustomViewer</a></li>
                <li><a class="otherLinkColour">Advanced</a>
                    <ul>   
                        <li><a href="{{ site.api }}class/advanced/imagefilter.html" class="otherLinkColour">ImageFilter</a></li>
                        <li><a href="{{ site.api }}class/advanced/documentdetect.html" class="otherLinkColour">DocumentDetect</a></li>
                    </ul>
                </li>      
            </ul>
        </li> 
        <li><a href="{{ site.api }}interface/index.html" class="otherLinkColour">Interfaces</a>
            <ul>
                <li><a href="{{ site.api }}interface/idocument/index.html" class="otherLinkColour">IDocument</a>
                    <ul>
                        <li><a href="{{ site.api }}interface/idocument/source.html" class="otherLinkColour">Source</a></li>
                        <li><a href="{{ site.api }}interface/idocument/extrapagedata.html" class="otherLinkColour">ExtraPageData</a></li>
                        <li><a href="{{ site.api }}interface/idocument/pdfsource.html" class="otherLinkColour">PdfSource</a></li>
                        <li><a href="{{ site.api }}interface/idocument/pagedata.html" class="otherLinkColour">PageData</a></li>
                        <li><a href="{{ site.api }}interface/idocument/updatapageoptions.html" class="otherLinkColour">UpdatePageOptions</a></li>
                        <li><a href="{{ site.api }}interface/idocument/savejpegsettings.html" class="otherLinkColour">SaveJpegSettings</a></li>
                        <li><a href="{{ site.api }}interface/idocument/savetiffsettings.html" class="otherLinkColour">SaveTiffSettings</a></li>
                        <li><a href="{{ site.api }}interface/idocument/savepdfsettings.html" class="otherLinkColour">SavePdfSettings</a></li>
                        <li><a href="{{ site.api }}interface/idocument/customtag.html" class="otherLinkColour">CustomTag</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.api }}interface/styleinterface/index.html" class="otherLinkColour">Style Interfaces</a>
                    <ul>
                        <li><a href="{{ site.api }}interface/styleinterface/basestyle.html" class="otherLinkColour">BaseStyle</a></li>
                        <li><a href="{{ site.api }}interface/styleinterface/canvasstyle.html" class="otherLinkColour">CanvasStyle</a></li>
                        <li><a href="{{ site.api }}interface/styleinterface/checkboxstyle.html" class="otherLinkColour">CheckboxStyle</a></li>
                        <li><a href="{{ site.api }}interface/styleinterface/pagenumberstyle.html" class="otherLinkColour">PageNumberStyle</a></li>
                        <li><a href="{{ site.api }}interface/styleinterface/quadselectionstyle.html" class="otherLinkColour">QuadSelectionStyle</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.api }}interface/configuration.html" class="otherLinkColour">Configuration</a></li>
                <li><a href="{{ site.api }}interface/configresult.html" class="otherLinkColour">ConfigResult</a></li>
                <li><a href="{{ site.api }}interface/createdocumentoptions.html" class="otherLinkColour">CreateDocumentOptions</a></li>
                <li><a href="{{ site.api }}interface/mergedocumentoptions.html" class="otherLinkColour">MergeDocumentOptions</a></li>
                <li><a href="{{ site.api }}interface/transferoptions.html" class="otherLinkColour">TransferOptions</a></li>
                <li><a href="{{ site.api }}interface/editviewerconstructoroptions.html" class="otherLinkColour">EditViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/editviewerconfig.html" class="otherLinkColour">EditViewerConfig</a></li>
                <li><a href="{{ site.api }}interface/thumbnailconfig.html" class="otherLinkColour">ThumbnailConfig</a></li>
                <li><a href="{{ site.api }}interface/ibrowseviewer.html" class="otherLinkColour">IBrowseViewer</a></li>
                <li><a href="{{ site.api }}interface/rect.html" class="otherLinkColour">Rect</a></li>
                <li><a href="{{ site.api }}interface/zoomorigin.html" class="otherLinkColour">ZoomOrigin</a></li>
                <li><a href="{{ site.api }}interface/captureviewerconstructoroptions.html" class="otherLinkColour">CaptureViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/captureviewerconfig.html" class="otherLinkColour">CaptureViewerConfig</a></li>
                <li><a href="{{ site.api }}interface/videodeviceinfo.html" class="otherLinkColour">VideoDeviceInfo</a></li>
                <li><a href="{{ site.api }}interface/playcallbackinfo.html" class="otherLinkColour">PlayCallbackInfo</a></li>
                <li><a href="{{ site.api }}interface/videoconfig.html" class="otherLinkColour">VideoConfig</a></li>
                <li><a href="{{ site.api }}interface/perspectiveviewerconstructoroptions.html" class="otherLinkColour">PerspectiveViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/perspectiveviewerconfig.html" class="otherLinkColour">PerspectiveViewerConfig</a></li>
                <li><a href="{{ site.api }}interface/browseviewerconstructoroptions.html" class="otherLinkColour">BrowseViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/browseviewerconfig.html" class="otherLinkColour">BrowseViewerConfig</a></li>
                <li><a href="{{ site.api }}interface/customviewerconstructoroptions.html" class="otherLinkColour">CustomViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/tooltip.html" class="otherLinkColour">Tooltip</a></li>
                <li><a href="{{ site.api }}interface/displaytextconfig.html" class="otherLinkColour">DisplayTextConfig</a></li>
                <li><a href="{{ site.api }}interface/uiconfig.html" class="otherLinkColour">UiConfig</a></li>
                <li><a href="{{ site.api }}interface/ddverror.html" class="otherLinkColour">DDVError</a></li>
                <li><a href="{{ site.api }}interface/verror.html" class="otherLinkColour">VError</a></li>
                <li><a href="{{ site.api }}interface/vimagedata.html" class="otherLinkColour">VImageData</a></li>
                <li><a href="{{ site.api }}interface/iimagefilter.html" class="otherLinkColour">IImageFilter</a></li>
                <li><a href="{{ site.api }}interface/imagefilteritem.html" class="otherLinkColour">ImageFilterItem</a></li>
                <li><a href="{{ site.api }}interface/idocumentdetect.html" class="otherLinkColour">IDocumentDetect</a></li>
                <li><a href="{{ site.api }}interface/documentdetectconfidence.html" class="otherLinkColour">DocumentDetectConfidence</a></li>
                <li><a href="{{ site.api }}interface/documentdetectconfig.html" class="otherLinkColour">DocumentDetectConfig</a></li>
                <li><a href="{{ site.api }}interface/documentdetectresult.html" class="otherLinkColour">DocumentDetectResult</a></li>
            </ul>
        </li>
        <li><a href="{{ site.api }}enumeration-type/index.html" class="otherLinkColour">Enumerations & Types</a>
            <ul>
                <li><a href="{{ site.api }}enumeration-type/enumpdfpagetype.html" class="otherLinkColour">EnumPdfPageType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumpdfcompressiontype.html" class="otherLinkColour">EnumPdfCompressionType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumtiffcompressiontype.html" class="otherLinkColour">EnumTiffCompressionType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumconvertmode.html" class="otherLinkColour">EnumConvertMode</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumimagedatatype.html" class="otherLinkColour">EnumImageDataType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumimagefiltertype.html" class="otherLinkColour">EnumImageFilterType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumdocumentdetectionstatus.html" class="otherLinkColour">EnumDocumentDetectionStatus</a></li>
                <li><a href="{{ site.api }}enumeration-type/quad.html" class="otherLinkColour">Type Quad</a></li>
            </ul>
        </li>
        <li><a href="{{ site.api }}errorlist.html" class="otherLinkColour">Error List</a></li>
    </ul>
</li>