<li><a class="otherLinkColour">Code Gallery</a>
    <ul>
        <li><a href="{{ site.codegallery }}usecases/index.html" class="otherLinkColour">Use Cases</a>
            <ul>
                <li><a href="{{ site.codegallery }}usecases/review-adjust-detected-boundaries-v1.1.html" class="otherLinkColour">Review and Adjust the detected boundaries</a></li>
                <li><a href="{{ site.codegallery }}usecases/capture-continuously-edit-result-images-v1.1.html" class="otherLinkColour">Capture continuously & Edit result images</a></li>
                <li><a href="{{ site.codegallery }}usecases/relatively-complete-doc-capturing-workflow-v1.1.html" class="otherLinkColour">Relatively complete document capturing workflow</a></li>
                <li><a href="{{ site.codegallery }}usecases/detect-boundaries-on-existing-images-v1.1.html" class="otherLinkColour">Detect boundaries on the existing images</a></li>
            </ul>
        </li>
        {% comment %} <li><a href="{{ site.codegallery }}demo/index.html" class="otherLinkColour">Demo</a></li> {% endcomment %}
    </ul>
</li>
